
@{
    ViewBag.Title = "GridDemo";
}

<h2>Row First Grid System</h2>

<div class="row">
    <div class="col-md-3">1</div>
    <div class="col-md-9">2</div>
</div>

<div class="row">
    <div class="col-md-12 h2">H2</div>
</div>

<div class="row">
    <div class="col-md-2">3</div>
    <div class="col-md-2">4</div>
    <div class="col-md-2">5</div>
    <div class="col-md-2">6</div>
    <div class="col-md-2">7</div>
    <div class="col-md-2">8</div>
</div>

<div class="row">
    <div class="col-md-12 h3">H3</div>
</div>

<div class="row">
    <div class="col-md-1">9</div>
    <div class="col-md-1">10</div>
    <div class="col-md-1">11</div>
    <div class="col-md-1">12</div>
    <div class="col-md-1">13</div>
    <div class="col-md-1">14</div>
    <div class="col-md-1">15</div>
    <div class="col-md-1">16</div>
    <div class="col-md-1">17</div>
    <div class="col-md-1">18</div>
    <div class="col-md-1">19</div>
    <div class="col-md-1">20</div>
</div>

<div class="row">
    <div class="col-md-3 h4">H4</div>
    <div class="col-md-3 h4">H4</div>
    <div class="col-md-6 h4">H4</div>
</div>

<div class="row">
    <div class="col-md-3">21</div>
    <div class="col-md-3">22</div>
    <div class="col-md-6">23</div>
</div>

<hr />

@*Here is my column first grid*@

<div class="container">

    <h2>Column First Grid System</h2>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4 h2">4</div>
            <div class="col-md-4 h2">4</div>
            <div class="col-md-4 h2">4</div>
        </div>

        <div class="row">
            <div class="col-md-6 h2">6</div>
            <div class="col-md-6 h2">6</div>
        </div>

        <div class="row">
            <div class="col-md-12 h3">12</div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="row h3">
            <div class="col-md-3">3</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">3</div>
        </div>
    </div>

    <div class="col-md-4 h6">
        <div class="row">
            <div class="col-md-8">8</div>
            <div class="col-md-4">4</div>
        </div>

        <div class="row">
            <div class="col-md-6">6</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">3</div>
        </div>

        <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-3">3</div>
            <div class="col-md-2">2</div>
            <div class="col-md-3">3</div>
            <div class="col-md-2">2</div>
        </div>

        <div class="row">
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
        </div>
    </div>
</div>
